{{- define "main" }}
{{- $isNewsletter := eq .Type "newsletter" }}

{{- if (.Param "LoadInovelScript") -}}
<script>
  function inovelStory() {
    const links = document.querySelectorAll('a[href^="#"]');
    const stories = document.querySelectorAll('.inovel-story');
    const firstStory = stories[0];
    const firstOptions = firstStory.querySelector('#options');
    
    firstStory.classList.add('active');
    firstStory.style.display = "block";
    firstOptions.style.display = "flex";
    
    let previousStory = null;
  
    links.forEach(link => {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        const target = this.getAttribute('href').substring(1);
        
        // Si es la primera historia, ocultar sus botones al ser seleccionada
        firstOptions.style.display = 'none';
        
        stories.forEach(story => {
          if (story.id === target) {
            story.classList.add('active');
            story.style.display = 'block'; // Mostrar la sección activada
          } else if (!story.classList.contains('active')) {
            story.style.display = 'none'; // Ocultar las no activadas
          }
        });
        
        // Ocultar #options de la historia anterior
        if (previousStory !== null) {
          const previousOptions = previousStory.querySelector('#options');
          if (previousOptions) {
            previousOptions.style.display = 'none';
          }
        }
  
        // Actualizar la historia anterior
        previousStory = document.getElementById(target);
      });
    });
  }
  
  // Ejecutar la función cuando el DOM esté listo
  document.addEventListener('DOMContentLoaded', inovelStory);
  
  // Ejecutar la función cuando se carguen todos los recursos
  window.addEventListener('load', inovelStory());
  
</script>
{{- end -}}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}

    {{- if $isNewsletter -}}
      {{- partial "newsletter_brand.html" . }}
    {{- end -}}
    <h1 class="post-title">
      {{- if $isNewsletter -}}
        {{- replace .Title (.Param "titlePrefix") (.Param "titlePrefixReplace") -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
      {{- if .Draft -}}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end -}}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{- .Description -}}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{/* TODO move to footer */}}
      {{/* partial "edit_post.html" . */}}
      {{/* partial "post_canonical.html" . */}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    <!-- Las 2 lineas siguientes no hacen nada -->
    {{- if or (eq .Layout "inovel_story") (eq .Layout "photos_gallery") (eq .layout "photos_gallery") -}}
    {{- partial (printf "%s.html" .Layout) . -}}
    <!-- Las 2 lineas anteriores no hacen nada -->
    {{- else if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if (.Param "socialLinks") }}
    {{- partial "social_links.html" . }}
    {{- end }}

    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}

    {{- if $isNewsletter }}
      <div class="newsletter-sub">
        <div class="notice">
          {{- if site.Params.newsletter.notice.usePartial }}
            {{- partial "newsletter_notice.html"}}
          {{- else }}
            {{- site.Params.newsletter.notice.content | default "Thanks for reading, if you like it, please subscribe below." }}
          {{- end }}
        </div>
        {{- partial "newsletter_sub_form.html"}}
      </div>
    {{- end }}
  </footer>

  {{- if not (.Param "noComments") }}
    <div class="comments-separator"></div>
    {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
